

{% include 'header.html' %}
<center>
    <h1>Название книги:<br>{{book_id.title}}</h1>
    <p>Автор:<br>{{book_id.author}}</p>
    <p>Описание книги:<br>{{book_id.description}}</p>
    <img src="{{book_id.image.url}}" alt="" width="400" height="300">
    <p>Колличество серий: <br>{{book_id.quantity}}</p>
    <p>Жанр:<br>{{book_id.genre}}</p>
    <p>Видео:<br>
        <iframe src="{{book_id.video}}" frameborder="0"></iframe>
    </p>
    <p>Цена: <br>{{book_id.price}}</p>
</center>
<div class="card">
  <div class="card-header">
    Реклама
  </div>
  <div class="card-body">
    <h5 class="card-title">Вам это необходимо!</h5>
    <p class="card-text">То Кирби известна своей привлекательностью для всех возрастов, яркими цветами, доступным геймплеем и тем простым фактом, что Кирби просто такой круглый и пушистый.

С участием Кирби и забытая земля запуск на этой неделе, мы видим много рекламы для новой записи, в том числе недавний трейлер, который выделил замечательный ‘Karby’. Но реклама долгоиграющей серии Nintendo не всегда была солнечным светом и радугой.

Как было подчеркнуто VideoGameArt&Tidbits в Твиттере еще в 1995 году Nintendo разместила двухстраничную рекламу Кирби Лавина а также Курс мечты Кирби для СНЕС. Но эта реклама не фокусировалась на забавной и милой стороне Кирби — вместо этого она демонстрировала более седого Кирби, которого собирались вызвать в столичное полицейское управление..</p>
    <a href="#" class="btn btn-primary">Перейти на яндекс</a>
  </div>
</div>

{% include 'footer.html' %}
