

{% include 'header.html' %}
<center>
    <h1>Название книги:<br>{{book_id.title}}</h1>
    <p>Автор:<br>{{object.author}}</p>
    <p>Описание книги:<br>{{object.description}}</p>
    <img src="{{object.image.url}}" alt="" width="400" height="300">
    <p>Колличество серий: <br>{{object.quantity}}</p>
    <p>Жанр:<br>{{object.genre}}</p>
{#    <li>#}
{#        <form action="{% url 'add_rating' %}" method="post" name="ratoing">#}
{#            <b>Рейтинг:</b>#}
{#            {% csrf_token %}#}
{#            <input type="hidden" value="{{ book_id }}" name="book">#}
{#            <span class="rating">#}
{#                {% for k, v in star_form.fields.star.choices %}#}
{#                    <input id="rating{{ v }}" type="radio" name="star" value="{{ v }}">#}
{#                    <label for="rating{{ v }}">{{ k }}</label> }}#}
{#                {% endfor %}#}
{#            </span>#}
{#        </form>#}
{#    </li>#}
    <p>Видео:<br>
        <iframe src="{{object.video}}" frameborder="0"></iframe>
    </p>
    <p>Цена: <br>{{object.price}}</p>
    <button><a href="/book/{{object.id}}/update">Изменить данные</a></button>
    <button><a href="/book/{{object.id}}/delete">Удалить фильм</a></button>
</center>
<form class="card">
  <div class="card-header">
    Реклама
  </div>
  <div class="card-body">
    <h5 class="card-title">Вам это необходимо!</h5>
    <p class="card-text">То Кирби известна своей привлекательностью для всех возрастов, яркими цветами, доступным геймплеем и тем простым фактом, что Кирби просто такой круглый и пушистый.

С участием Кирби и забытая земля запуск на этой неделе, мы видим много рекламы для новой записи, в том числе недавний трейлер, который выделил замечательный ‘Karby’. Но реклама долгоиграющей серии Nintendo не всегда была солнечным светом и радугой.

Как было подчеркнуто VideoGameArt&Tidbits в Твиттере еще в 1995 году Nintendo разместила двухстраничную рекламу Кирби Лавина а также Курс мечты Кирби для СНЕС. Но эта реклама не фокусировалась на забавной и милой стороне Кирби — вместо этого она демонстрировала более седого Кирби, которого собирались вызвать в столичное полицейское управление..</p>
    <a href="#" class="btn btn-primary">Перейти на яндекс</a>
  </div>
</form>
{% block content %}
<br>
<center>
<div class="comment">
        {% for comment in comment %}
            <div class="comment_block">
                <h6>Коменты: {{ comment.comments }}</h6>
            </div>
        {% endfor %}
    </div>
</div>
</center>
{% endblock %}
{% include 'footer.html' %}
